<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="schema URL">

   <connectionStrings>
    <add name="MyConnectionStringName"

      ConnectionString="Data Source=Rosh-PC;Initial Catalog=wm75;Integrated Security=True"

      providerName="System.Data.SqlClient" />
      </connectionStrings> 
    
  
</configuration>